.text {
    position: absolute;
    top: calc(50%/2);
    color: white;
}

.buttons button {
    margin-right: 1rem;
}

.backdroptext {
    margin-left: 2rem;
    z-index: 799;
    position: absolute;
    top: 20%;
}


.netflix-series {
    position: absolute;
    z-index: 1;
}

.netflix-series img {
    width: 8rem;
    max-width: 100%;
    object-fit: contain
}

.description-buttons {
    display: flex;
    gap: 1rem;
}

.name-logo {
    width: 35%;
    max-height: 14rem;
    object-fit: contain;
}