.movierow {
    color: white;
    margin-left: 3rem;
    min-height: 100%;
    z-index: 1
}

.movie-card {
    display: flex;
    gap: 0.6rem;
    flex-wrap: nowrap;
}


.card {
    height: 100%;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.card:hover {
    transform: scale3d(1.2, 1.2, 2);
}


.card img {
    background-size: cover;
    min-height: 18rem;
    min-width: 12rem;
}

.card-group.card-group-scroll {
    overflow-x: scroll;
    flex-wrap: nowrap;
    overflow-y: hidden;
    align-items: baseline;
}

.card-group.card-group-scroll::-webkit-scrollbar {
    display: none;
}


.card-group.card-group-scroll>.card {
    flex-basis: 12rem;
}