.movierow {
    color: white;
    margin-left: 6rem;
}

.movie-card {
    display: flex;
    gap: 0.6rem;
    flex-wrap: nowrap;
}


.card {
    border: 0;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.card:hover {
    transform: scale(1.2);
}


.card img {
    background-size: cover;
}

.card-group.card-group-scroll {
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.card-group.card-group-scroll::-webkit-scrollbar {
    display: none;
}


.card-group.card-group-scroll>.card {
    flex-basis: 12rem;
}