.modal-body,
.modal-header {
    padding: 0;
    border: 0;
}

.modal-content {
    border-radius: 0;
}


.col-md-8 .main-title {
    font-size: 5rem;
}

.modal-body,
.list-group {
    padding: 2rem;
    background-color: #111;
    color: white;
}



.list-group {
    border-radius: 0 !important;
    padding: 0;
}

.list-group-item {
    border-radius: 0 !important;
    background-color: transparent;
    border-color: none;
    border-width: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-group li {
    color: white;
}

.list-group-item>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.poster {
    cursor: pointer;
}


.image-header .image {
    height: 100%;
}

.image-header .image button {
    position: relative;
    top: 30%;
    left: 0;
    margin-left: 2rem;
    z-index: 799;
    overflow: hidden;
}